#NET "clk" TNM = "master_clk";
#TIMESPEC "TS_clk" = PERIOD "master_clk" 21 ms;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk" LOC = "N17";

NET "led<0>" LOC = "F9";
NET "led<1>" LOC = "E9";
NET "led<2>" LOC = "D11";
NET "led<3>" LOC = "C11";
#NET "led<4>" LOC = "F11";
#NET "led<5>" LOC = "E11";
#NET "led<6>" LOC = "E12";
#NET "led<7>" LOC = "F12";